.slider-track-high {
    background: lightpink;
}
.slider-track-low {
    background: lightgreen;
}
.slider-selection {
    background: lightyellow;
}
.slider-handle max-slider-handle  {
	background: lightpink;
}
.slider-handle min-slider-handle  {
	background: lightgreen;
}