.slider-handle max-slider-handle  {
	background: lightpink;
	background-image: lightpink;
	background-color: lightpink;
}
.slider-handle min-slider-handle  {
	background-color: lightgreen;
	background-image: lightgreen;
;
}
.slider-track-high {
    background: lightpink;
}
.slider-track-low {
    background: lightgreen;
}
.slider-selection {
    background: lightyellow;
}
